{% extends 'base.html.twig' %}

{% block title %}connexion{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <div class="container-fluid h-100 m-0">
        <div class="row">
            <form method="post" class="form d-flex flex-column col-lg-4 justify-content-center">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal text-center">Ouvrir une session</h1>
                <label class="p-2" for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       autocomplete="email" required autofocus>
                <label class="p-2" for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}

                <button class="mt-5 btn btn-lg btn-primary" type="submit">
                    Connexion
                </button>
            </form>
            <div class="col-lg-8 p-0 login-picture">
                <img class="w-100" src="{{ asset('build/images/login.jpg') }}" alt="image de connexion">
            </div>
        </div>
    </div>

{% endblock %}
